<p>essai-detail runnin!</p>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Numero de serie</th>
      <th scope="col">Model</th>
      <th scope="col">Prix/par jour</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars | async">
      <th scope="row">{{car.brand}}</th>
      <td>{{car.plateNumber}}</td>
      <td>{{car.price}} euros</td>
      <td><button type="button" class="btn btn-danger">Supprimer</button></td>
    </tr>
  </tbody>
</table>
