<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Platenumber</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="11XBC4A">
    </div>
  </div>
  <button type="button" class="btn btn-primary">Creer</button>
</form>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Numero de serie</th>
      <th scope="col">Model</th>
      <th scope="col">Prix/par jour</th>
      <th scope="col">Nombre de chaises</th>
      <th scope="col">Poids Maximum</th>
      <th scope="col">Type de vehicules</th>
      <th scope="col">Location</th>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars | async">
      <th scope="row">{{car.plateNumber}}</th>
      <td>{{car.brand}}</td>
      <td>{{car.price}} euros</td>
      <td>{{ car.numberofseats ? car.numberofseats : "Null" }}</td>
      <td>{{ car.maxweight ? car.maxweight : "Null" }}</td>
      <td>{{ car.maxweight ? "Van" : "Vehicules" }}</td>
      <td>{{ car.rents.length == 0 ? "Non" : "Oui" }}</td>
      <td>{{ car.rents.length == 1 ? car.rents[0].beginRent : "Null" }}</td>
      <td>{{ car.rents.length == 1 ? car.rents[0].endRent : "Null" }}</td>
      <td><button type="button" class="btn btn-danger">Supprimer</button></td>
    </tr>
  </tbody>
</table>
